<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>589636854223-4c4v3fqshr4385c5oj9daamru0s5gti3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.589636854223-4c4v3fqshr4385c5oj9daamru0s5gti3</string>
	<key>API_KEY</key>
	<string>AIzaSyBt1mxiZ8HAchrKW6-VcqMoB8gViox6taM</string>
	<key>GCM_SENDER_ID</key>
	<string>589636854223</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.DonateBloodAndSaveLives</string>
	<key>PROJECT_ID</key>
	<string>donate-blood-and-save-lives</string>
	<key>STORAGE_BUCKET</key>
	<string>donate-blood-and-save-lives.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:589636854223:ios:755277d16177dab167b2ba</string>
</dict>
</plist>